.headerContainer {
  background-color: var(--black);
  width: 100%;
  height: 107px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  mix-blend-mode: normal;
  position: absolute;
  box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.3);

  font-family: Poppins, sans-serif;
  z-index: 3;
  .burguerBtn {
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white);
    font-size: 24px;
  }

  .logoFirst {
    color: var(--white);
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
  }

  .logoSecond {
    background-image: linear-gradient(
      to right,
      var(--magenta50),
      var(--pink50)
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
  }

  .linksContainer {
    display: flex;
    justify-content: space-around;
    width: 400px;

    .links {
      color: var(--white);
      text-decoration: none;
      align-content: center;

      cursor: pointer;
    }

    .linkInicio {
      display: flex;
      align-items: center;
      font-weight: 500;
    }

    .linkCat {
      display: flex;
      align-items: center;
      height: 107px;
      border-bottom: 5px solid var(--pink2);
      font-weight: 500;
    }
  }

  .searchBtn {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white);
    font-size: 24px;
  }

  .searchBtnActive {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--pink2);

    font-size: 24px;
  }
}

@media only screen and (max-width: 360px) {
  .headerContainer {
    width: 100%;
    height: 55px;
    display: flex;

    .burguerBtn {
      display: block;
      margin-left: 24px;
    }

    .logoFirst {
      display: flex;
      width: 58.81px;
      height: 31.42px;
      margin-left: 43px;
      font-size: 20.9444px;
      line-height: 31px;
    }

    .linksContainer {
      .links {
        color: var(--white);
        text-decoration: none;
        display: none;
      }
    }

    .searchBtn {
      font-size: 17px;
      margin-top: 3px;
    }
  }
}
