.footerContainer {
    display: flex;
    justify-content: center;
    background-color: var(--black2);
    width: 100%;
    color: var(--white);
    height: 112px;

    p {
        display: flex;
        align-self: center;

        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        font-style: normal;
        text-transform: capitalize;
    }
}